S3_BUCKET="hi168-19350-7227beku"
S3_REGION="default"
S3_ENDPOINT="https://s3.hi168.com"
S3_CUSTOM_DOMAIN="https://s3.hi168.com"
S3_ACCESS_KEY="C1QG2NJV7DWABSVTN7F9"
S3_SECRET_KEY="BYHUroB9zU7zNnagyQMwiFIfKIIUMQIBvXL63wuT"
HOST_SHARE_PATH="e:/Projects/v8chat/apps/admin/storage/jt"
